[Desktop Entry]
Name=st-tmux
Comment=Simple terminal with tmux session
Exec=stt
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
